<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/search.css">
    <title>Search</title>
</head>
<body>
    
    <h3 id="search" class="text-center">Search your movies</h3>

    <form action="/movies" method="GET" class="justify-content-center d-flex">

        <input type="text" value="" name="search"  class="form-control w-25 " placeholder="Enter The Movie Name "/>
        
        <button type="submit" class="ml-2 text-center btn btn-success "> Search Movie </button>
    </form>
</body>
</html>